{% set preheader = 'Reimpostazione della password. Abbiamo ricevuto una richiesta di reimpostazione della password su eCamp.' %}
{% extends 'emails/baseLayout.twig' %}

{% block content %}
    <h1>Reimpostazione della password</h1>
    <p>Ciao {{ name }},</p>
    <p>
        Abbiamo ricevuto una richiesta di reimpostazione della password su eCamp.<br/>
        Se sei stato tu, fai clic sul link sottostante per impostare una nuova password:
    </p>

    {% with { title: 'Reimposta la password', url: url } %}
        {% include 'emails/button.twig' %}
    {% endwith %}
    
    <p>
        Cordiali saluti,
        il team di eCamp
    </p>
{% endblock %}