{% set preheader = 'Réinitialisation du mot de passe. Nous avons reçu une demande de réinitialisation de votre mot de passe sur eCamp.' %}
{% extends 'emails/baseLayout.twig' %}

{% block content %}
    <h1>Réinitialisation du mot de passe</h1>
    <p>Bonjour {{ name }},</p>
    <p>
        Nous avons reçu une demande de réinitialisation de votre mot de passe sur eCamp.<br/>
        Si c'est bien vous, veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe :
    </p>

    {% with { title: 'Réinitialiser le mot de passe', url: url } %}
        {% include 'emails/button.twig' %}
    {% endwith %}
    
    <p>
        Cordialement,
        votre équipe eCamp
    </p>
{% endblock %}